<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">VanBot</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a><img src=<%= shemaUser.userImg %> class="img-circle" alt="Cinque Terre" width="25" height="25"></a></li>
      <li><a><%= shemaUser.company %></a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
