<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../component/header.ejs %>
</head>
<body>

  <% include ../component/nav-top.ejs %>

<div class="container">
   <form action="/save" method="get">
     <!-- <div id="img_container "> -->
     <div class="form-group">
       <image  id="demo" class="img-rounded center-block" name="picture" width="250" height="250" src= <%= data.urlimg %>>
       <button type="button" class="center-block btn" id="myBtn"> Edit image </button>
       <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <label>URL image :</label>
            <input  class = "form-control" name="image" id = "image" placeholder = "Enter URL image">
            <button type="button" class="center-block btn" id="save">Save</button>
          </div>
        </div>
     </div>
    <!-- </div> -->

     <div class="form-group">
       <label>เส้นทาง :</label>
       <input type="text" class="form-control" name="route"  placeholder = <%= data.distance %> >
     </div>
     <div class="form-group">
       <label>ระยะทาง :</label>
       <input type="text" class="form-control" name="distance"  placeholder = <%= data.distance %> >
     </div>
     <div class="form-group">
       <label>ราคา (บาท) :</label>
       <input type="text" class="form-control" name="cost"  placeholder = <%= data.cost %> >
     </div>
     <div class="form-group">
       <label >ตำแหน่ง GPS :</label>
       <input type="text" class="form-control" name="GPS" placeholder="Enter password" width="250px">
     </div>
     <label>ช่วงเวลาทำการ</label>
     <br></br>
      <div class="form-group">
         <label>ตั้งแต่ :</label>
          <select class="selectpicker" name="start">
            <% include ../component/option.ejs%>
          </select>
          <label>จนถึง :</label>
           <select class="selectpicker" name="end">
             <% include ../component/option.ejs%>
           </select>
           <label>รอบการออกรถ :</label>
            <select class="selectpicker"  name="round">
              <option></option>
              <option>ทุก 15 นาที</option>
              <option>ทุก 30 นาที</option>
              <option>ทุก 1 ชั่วโมง</option>
            </select>
      </div>
      <div class="form-group">

      </div>
     <button type="submit" class="btn btn-primary btn-lg">Save</button>
     <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href='/profile'">Cancle</button>
   </form>
</div>
<script>
 // $('#timepicker1').timepicker();
  var modal = document.getElementById('myModal');
  var btn = document.getElementById("myBtn");
  var save = document.getElementById("save");

  var span = document.getElementsByClassName("close")[0];
  btn.onclick = function() {
      modal.style.display = "block";
  }
  span.onclick = function() {
      modal.style.display = "none";
  }
  save.onclick = function() {
      var img = document.getElementById("image").value;
      document.getElementById("demo").src = img;
      modal.style.display = "none";
  }
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }

</script>
</body>
</html>
