<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../component/header.ejs %>
</head>
<body>

<div class="container">
   <form onSubmit="return test();" id ="data" method="get">
     <!-- <div id="img_container "> -->
     <div class="form-group">
       <image  id="demo" class="img-rounded center-block" name="picture" width="250" height="250" src="http://foryouindia.com/Default/Pages/Images/Profile.png">
       <button type="button" class="center-block btn" id="myBtn"> Edit image </button>
       <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <label>URL image :</label>
            <input  class = "form-control" name="image" id = "image" value = "http://foryouindia.com/Default/Pages/Images/Profile.png">
            <button type="button" class="center-block btn" id="save">Save</button>
          </div>
        </div>
     </div>
    <!-- </div> -->
     <div class="form-group">
       <label>E-mail :</label>
       <input type = "email" class="form-control" name="email" id="email" placeholder = "Enter Username" >
     </div>
     <div class="form-group">
       <label for="pwd">Password :</label>
       <input type="password" class="form-control" name="password" id="pwd" placeholder = "Enter Password" >
     </div>
     <div class="form-group">
       <label for="pwd">Re-Password</label>
       <input type="password" class="form-control"  id="repwd" placeholder = "Enter Re-Password">
     </div>
     <div class="form-group">
       <label for="CompanyName">ชื่อบริษัท :</label>
       <input class="form-control" name="CN" id="company" placeholder = "Enter your Company" >
     </div>
     <div class="form-group">
       <label for="pwd">เบอร์โทรศัพท์ :</label>
       <input type="form-control" class="form-control" name="phone" id="phone" placeholder = "Enter your Phone Number">
     </div>
     <button type="submit" class="btn btn-primary btn-lg">Register</button>
     <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href='/'">Cancle</button>
   </form>
</div>
<script>
  var modal = document.getElementById('myModal');
  var btn = document.getElementById("myBtn");
  var save = document.getElementById("save");

  var span = document.getElementsByClassName("close")[0];
  btn.onclick = function() {
      modal.style.display = "block";
  }
  span.onclick = function() {
      modal.style.display = "none";
  }
  save.onclick = function() {
      var img = document.getElementById("image").value;
      document.getElementById("demo").src = img;
      modal.style.display = "none";
  }
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  function changeaction() {
    document.getElementById('data').action = "/register/save"
  }
  function test(){
  if (document.getElementById('email').value == "" || document.getElementById('pwd').value != document.getElementById('repwd').value || document.getElementById('company').value == "" || document.getElementById('phone').value == ""){
    alert("Please insert data")
    return false;
  }
  else{
    return changeaction();
  }
}
</script>
</body>
</html>
